body{
    background-color: black;
    color: white;
}
h1{
    text-align: center;

}

p{
    color:white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid white;
}

h1,h2{
    color:white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

td, th {
    width: 200px;
    
}

table, th, td {border: 1px solid white;
    border-collapse: collapse;}

:nth-child(odd)
    
style table{border: 1px white;}
.Rubrik {
    background-color: red;
}

td:nth-child(4), th:nth-child(4){
    text-align: right;
}
th:nth-child(1){
    text-align: left;
}

td:nth-child(){
    background-color: blue;
}
